.tech-header{
    position: absolute;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 50px;
    margin-left: 550px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(134,208,198,255);
}
.card-tech{
    position: absolute;
    margin-top: 300px;
    margin-bottom: 200px;
    padding-bottom: 200px;
    display: flex;
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
}
.card1tech{
    background-color: rgba(134,208,198,255);
    color: white;
    margin-left: 100px;
    width: 250px;
    height: 500px;
    margin-top: -100px;
    padding-right: 200px;
    padding: 20px;
    box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
    margin-right: 20px;
}
.card2tech{
    background-color: black;
    color: white;
    width: 250px;
    height: 300px;
    padding-right: 100px;
    text-align: center;
    margin-right: 20px;
    margin-top: 100px;
    padding:20px;
    box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
}
.card3tech{
    background-color: rgba(134,208,198,255);
    color: white;
    width: 250px;
    height: 250px;
    padding: 20px;
    padding-right: 100px;
    margin-top: 150px;
    margin-right: 20px;
    box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
}
.card4tech{
    background-color: black;
    color: white;
    margin-right: 20px;
    width: 250px;
    margin-top: 300px;
    height: 100px;
    padding: 20px;
    box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
}
.tech-cardheader{
    margin-left: 80px;
}